<div class="wrap">
  <img
    src="http://purecatamphetamine.github.io/country-flag-icons/3x2/{{randCountry}}.svg"
    class="flag"
  />
  <div class="answer-buttons" id="answerButtons">
    <button class="answ-btn" (click)="selectAnsw(0); checkAnsw()" id="0">{{currLocale[answButtons[0]].name}}</button>
    <button class="answ-btn" (click)="selectAnsw(1); checkAnsw()" id="1">{{currLocale[answButtons[1]].name}}</button>
    <button class="answ-btn" (click)="selectAnsw(2); checkAnsw()" id="2">{{currLocale[answButtons[2]].name}}</button>
    <button class="answ-btn" (click)="selectAnsw(3); checkAnsw()" id="3">{{currLocale[answButtons[3]].name}}</button>
  </div>
</div>



