<img
  [src]="imgSrc+randCountry+end"
  class="flag hidden"
  (load)="flagHere = true"
/>
<div class="wrap" *ngIf="flagHere; else loading">
  <div class="status-bar">
    <span class="material-icons hp" [ngClass]="{invalid: hp < 1}">favorite</span>
    <span class="material-icons hp" [ngClass]="{invalid: hp < 2}">favorite</span>
    <span class="material-icons hp" [ngClass]="{invalid: hp < 3}">favorite</span>
    <p class="material-icons line">horizontal_rule</p>
    <p>{{correctCounter}}</p>
  </div>
  <img
    [src]="imgSrc+randCountry+end"
    class="flag"
  />
  <div class="answer-buttons" id="answerButtons">
    <button class="answ-btn" (click)="selectAnsw(0); checkAnsw()" id="0">{{currLocale.Countries[answButtons[0]].name}}</button>
    <button class="answ-btn" (click)="selectAnsw(1); checkAnsw()" id="1">{{currLocale.Countries[answButtons[1]].name}}</button>
    <button class="answ-btn" (click)="selectAnsw(2); checkAnsw()" id="2">{{currLocale.Countries[answButtons[2]].name}}</button>
    <button class="answ-btn" (click)="selectAnsw(3); checkAnsw()" id="3">{{currLocale.Countries[answButtons[3]].name}}</button>
  </div>
  <div class="answer-buttons nav-buttons">
    <button class="nav-btn btn-home" (click)="returnHome()" id="4">{{currLocale.homeButton}}</button>
    <button class="nav-btn btn-next" [ngClass]="{invalid: post == -1}" (click)="next()" id="5">{{currLocale.nextButton}}</button>
  </div>
</div>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate" style="height: 10px"></mat-progress-bar>
</ng-template>


