<nav class="navbar">
  <p>FLAG QUIZ</p>
    <div class="dropdown">
      <button class="dropbtn">{{currLocale.langChoose}}</button>
      <div class="dropdown-content">
        <div class="lang-button" (click)="rememberLocale(1)">
          <img
            src="http://purecatamphetamine.github.io/country-flag-icons/1x1/UA.svg"
            class="flag"
            id="UA_Locale"
          />
          <label for="UA_Locale">Українська</label>
        </div>
        <div class="lang-button" (click)="rememberLocale(2)">
          <img
            src="http://purecatamphetamine.github.io/country-flag-icons/1x1/GB.svg"
            class="flag"
            id="Eng_Locale"
          />
          <label for="Eng_Locale">English</label>
        </div>
      </div>
    </div>
</nav>
