
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$flag-quiz-primary: mat.define-palette(mat.$indigo-palette);
$flag-quiz-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$flag-quiz-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$flag-quiz-theme: mat.define-light-theme((
  color: (
    primary: $flag-quiz-primary,
    accent: $flag-quiz-accent,
    warn: $flag-quiz-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($flag-quiz-theme);

body{
  margin: 0;
  padding: 0;
  font-family: Calibri;
  user-select: none;
}
.flag{
  width: 100%;
  border-radius: 1vmin;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.hidden{
  display: none;
}
.wrap{
  margin: 0 auto;
  max-width: 80vmin;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-top: 1rem;
}

.answer-buttons{
  padding: 3vmin 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  button{
    background-color: rgba(236, 236, 236, 0.5);
    width: 49%;
    margin-top: 2vmin;
    height: auto;
    line-height: 200%;
    cursor: pointer;
    border-radius: 1vmin;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: background-color .2s;
    font-size: 1.5rem;
    font-family: Calibri;
    font-weight: 600;
    &:hover{
      background-color: rgb(236, 236, 236);
    }
  }
}

.navbar{
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 180, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  p{
    font-size: 2rem;
    color: white;
    font-weight: 600;
    font-family: Calibri;
  }
  img {
    &:first-child{
      margin-right: 1rem;
    }
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .langs{
    height: 2rem;
  }
}

.start{
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100vmin;
  .start-page-flag{
    z-index: -1;
  }
  .start-button{
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: Calibri;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    width: auto;
    padding: 0.5rem 1.5rem;
    height: 100%;
    cursor: pointer;
    transition: background-color .2s;
    color: white;
    -webkit-text-stroke: 1px black;
    &:hover{
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.nav-buttons{
  margin-top: 1rem;
  padding-top: 0;
  button{
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
    &:hover{
      background-color: rgba(0, 128, 0, 0.5);
    }
  }
  .btn-next{
    &.invalid{
      background-color: rgba(0, 128, 0, 0.3);
      pointer-events: none;
    }
  }
}
.status-bar{
  display: flex;
  align-items: center;
  font-family: Calibri;
  font-weight: 600;
  padding-bottom: 10px;
  .hp{
    font-size: 3rem;
    color: red;
    &.invalid{
      color: #dadada;
    }
  }
  p{
    margin: 0;
    color: #333333;
    line-height: 0;
    font-size: 3rem;
  }
  .line{
    transform: rotate(90deg) translate(1px);
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .wrap{
    padding: 1rem 20px 0;
    margin: 0;
    max-width: 100%;
  }
  .answer-buttons button{
    width: 100%;
    height: auto;
    line-height: 150%;
  }
  .nav-buttons{
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 500px){
  .answer-buttons button{
    line-height: 200%;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
